// Color variables
$nav-purple: #644c79;
$footer-blue: #003479;
$secondary-blue: #0ca3df;
$todo-background-color: #f4f4f4;
$text-color: #555555;

// FullWidth margin
$full-width-margin: 350px;

// Navbar and Footer height
$nav-height: 94px;
$footer-height: 90px;

// minPadding
$min-margin: 15px;

// media queries
$media-query-1024: 1024px;
$media-query-840: 840px;
$media-query-480: 480px;

$footer-height-phone: 40px;
