@import "../../styles/variables.scss";

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  background-color: $nav-purple;
  top: 0px;
  left: 0px;
  width: 100%;
  height: $nav-height;
}
.imageContainer {
  max-width: 1220px;
  width: 100%;
  margin: 0 $min-margin;
}
