body {
  z-index: 3;
  margin: 0;
  padding: 0;
  font-family: Karbon-regular, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100%;
}
#root {
  height: 100vh;
}

@font-face {
  font-family: Karbon-regular;
  src: url("./assets/fonts/karbon-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: Karbon-semibold;
  src: url("./assets/fonts/karbon-semibold-webfont.ttf") format("truetype");
}
